<script src="../register/index.js"></script>
<div class="col-auto container-fluid justify-content-start">
    <div id="errorInfo" style="display: none;"></div>
    <div id="daftarForm">
        <div>Selamat datang kutu buku di Perpustakaan 331!</div>
        <div>Mari kita mulai petualangannya!</div>
        <br>
        <div class="mb-2">
            <div >Email*</div>
            <div class="input-group">
                <input id="emailDaftar" class="form-control" maxlength="100" placeholder="example@mail.com" type="email">
                <span class="input-group-text bg-secondary" id="span_email">
            </span>
            </div>
            <small id="emailDaftarErr" class="text-danger"></small>
        </div>
        <div class="mb-2" id="otpForm"></div>
        <div class="mb-2" id="passwordForm"></div>
        <div class="mb-2" id="passwordConfirmForm"></div>
        <div class="mb-2" id="biodataForm"></div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <button id="buttonDaftar" class="btn btn-success" disabled>Daftar</button>
    </div>
</div>